body {
  font-size: 1.5rem;
  background-color:rgb(245, 230, 220) !important;
}
h1 {
  padding-top: 5%;
  padding-bottom: 5%;
}
h2 {
  margin: 50px 0px 20px 0px;
}

/* Startsidan */
.carousel-inner{
  overflow:hidden;
}
#carouselExampleIndicators {
  margin-top: 10%;
}

.carousel-item {
  margin-left: 12.5%;
 }

 .item img {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 100px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 3em;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3em;
  color: red;
}
.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.418) !important;
  width: 20px !important;
  height: 5px !important;
}
.carousel-indicators .active {
  background-color: rgb(255, 0, 0) !important;
}

.button-container {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}

.card{
  background-color: rgba(255, 255, 255, 0.445);
  border: none;
}

.text-center{
padding-top: 2%;
}

/* Bildgalleriet */
.image-gallery-container {
  display: inline-block;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

/* Navbar */
.bg-light {
  background-color:rgb(245, 230, 220) !important;
  box-shadow: 0 0 30px 30px rgb(245, 230, 220);
}
  
.navbar-light .navbar-brand {
    color: rgba(255, 0, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 0, 0, 0.623);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(255, 0, 0, 0.9);
  font-weight: 900;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .dropdown-item:hover  {
  background-color: rgba(221, 221, 221, 0);
  color: rgb(255, 0, 0);
  font-style: italic;
}
.dropdown-menu {
  background-color: rgb(245, 230, 220);
  font-size: 14px;
  border: none;
}
.dropdown-item {
  color: red;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(221, 221, 221, 0);
  color: rgb(255, 0, 0);
  font-style: italic;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-weight: 900;
}

  .bigImage {
    max-width: 300px;
    padding: 1%;
  }

  /* Form */

  .btn {
    margin-top: 10px;
  }

  /* quote, userinput and fact pages */
.postcard-wrapper {
  margin: 0 auto;
  margin-top: 60px;
}

  /* Preview */

#preview-header{
  font-size: 1.25rem;
}

#preview-image {
  width: 1000px;
  height: 760px; 
}

.preview-wrapper{
  width: 1000px;
  height: 760px;
  position: relative;
 padding: 0;
 margin: 0;
 text-align: center;
}

.preview {
  width:1000px;
  height:760px;
  position: relative;
 padding: 0;
 margin: 0;
 text-align: center;

}

.preview-image-box{
 position: relative;
 display: block;
 margin-bottom: 3%;
}

.preview-text{
   position: absolute;
   top: 0; right: 0;
   bottom: 0; left: 0;
   width: 1000px;
   height: 760px; 
   text-align: center;
   background-color: rgba(255, 255, 255, 0.651);
    vertical-align:bottom;
    line-height:760px;
    box-shadow: 10px 10px 8px grey;
  }


h3 {
   color: rgba(51, 51, 51);
   font-family: Arial, Helvetica, sans-serif;
   display: inline-table;
    vertical-align:middle;
    margin: 15%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 3.8rem;
    font-weight: 800;
}

/* Quote */
.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  margin-right: 15%;
  margin-left: 15%;

}

/* Userinput */
form{
  margin-bottom: 5%;
}

#userinput{
  width: 1000px;
}
@media (max-width: 1350px){

h3 {
  font-size: 2.0rem;
}

#preview-image {
  width: 750px;
  height: 570px; 
}
.preview-wrapper{
  width: 750px;
  height: 570px; 
}
.preview {
  width: 750px;
  height: 570px; 
}

.preview-text{
  width: 750px;
  height: 570px; 
  line-height: 570px;
}
#userinput{
  width: 750px;
}
}
@media (max-width: 1000px){
  .postcard-wrapper {
    margin: 0 auto;
    margin-top: 80px;
  }

  h3 {
    font-size: 1.5rem;
  }
  #preview-image {
    width: 500px;
    height: 380px; 
  }
  .preview-wrapper{
    width: 500px;
    height: 380px; 
  }
  .preview {
    width: 500px;
    height: 380px; 
  }
  
  .preview-text{
    width: 500px;
    height: 380px; 
    line-height: 380px;
  }
  #userinput{
    width: 500px;
  }
  }

@media (max-width: 800px) {
  #carouselExampleIndicators {
    height:380px;
  }


}
@media (max-width: 615px) {
  #carouselExampleIndicators {
    height:280px;
    margin-top: 15%;
}}
@media (max-width: 450px) {
  #carouselExampleIndicators {
    height:200px;

}}