body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.image-gallery-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.bigImage {
  max-width: 300px;
  padding: 1%;
}
@media (min-width: 3em) {

  }

